@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebar{
    @apply
    hidden
    fixed
    left-0
    top-0
    z-10
    bg-[#ba1924]
    h-screen
    md:flex
    flex-col
    items-center
    justify-center
    max-w-20
}
.sidebar .link{
  @apply
  flex
  items-center
  justify-center
  w-20
  h-20
  text-lg
}
.sidebar .link.tab-link.tab-link-active{
  @apply
  text-white
}

.toolbar.tabbar.toolbar-bottom{
  @apply
  md:hidden
}
.page-content .tabs{
  @apply
  p-0
  m-0
  md:pl-[6rem]
}
.page-content.tab{
  @apply
  -top-[120px]
  p-0
  m-0
}
.page-content.tab .mains.block{
  @apply
  p-0
  m-0
}
.navbar-inner{
  @apply
  top-0
  bg-red-500
  p-0
  m-0
  flex
  items-center
  h-0
}