:root {
    --f7-ios-primary: #f54748;
    --f7-ios-primary-shade: #f32022;
    --f7-ios-primary-tint: #f76e6e;
    --f7-ios-primary-rgb: 245, 71, 72;
    --f7-md-primary-shade: #96141d;
    --f7-md-primary-tint: #de1e2b;
    --f7-md-primary-rgb: 186, 25, 36;
    --f7-md-primary: #ba1924;
    --f7-md-on-primary: #ffffff;
    --f7-md-primary-container: #ffdad7;
    --f7-md-on-primary-container: #410004;
    --f7-md-secondary: #775654;
    --f7-md-on-secondary: #ffffff;
    --f7-md-secondary-container: #ffdad7;
    --f7-md-on-secondary-container: #2c1514;
    --f7-md-surface: #fffbff;
    --f7-md-on-surface: #201a1a;
    --f7-md-surface-variant: #f5dddb;
    --f7-md-on-surface-variant: #534342;
    --f7-md-outline: #857371;
    --f7-md-outline-variant: #d8c2c0;
    --f7-md-inverse-surface: #362f2e;
    --f7-md-inverse-on-surface: #fbeeec;
    --f7-md-inverse-primary: #ffb3ae;
    --f7-md-surface-1: #fcf0f4;
    --f7-md-surface-2: #f9e9ed;
    --f7-md-surface-3: #f7e2e7;
    --f7-md-surface-4: #f7e0e5;
    --f7-md-surface-5: #f5dbe0;
    --f7-md-surface-variant-rgb: 245, 221, 219;
    --f7-md-on-surface-variant-rgb: 83, 67, 66;
    --f7-md-surface-1-rgb: 252, 240, 244;
    --f7-md-surface-2-rgb: 249, 233, 237;
    --f7-md-surface-3-rgb: 247, 226, 231;
    --f7-md-surface-4-rgb: 247, 224, 229;
    --f7-md-surface-5-rgb: 245, 219, 224;
    --swiper-theme-color: var(--f7-theme-color);
    --f7-color-primary: #f54748;
    --f7-color-red: #ff3b30;
    --f7-color-green: #4cd964;
    --f7-color-blue: #2196f3;
    --f7-color-pink: #ff2d55;
    --f7-color-yellow: #ffcc00;
    --f7-color-orange: #ff9500;
    --f7-color-purple: #9c27b0;
    --f7-color-deeppurple: #673ab7;
    --f7-color-lightblue: #5ac8fa;
    --f7-color-teal: #009688;
    --f7-color-lime: #cddc39;
    --f7-color-deeporange: #ff6b22;
    --f7-color-white: #ffffff;
    --f7-color-black: #000000;
}
.ripple-wave {
    visibility: hidden;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    width: 100%;
    text-align: center;
}
.mains{
    overflow-x: hidden !important;
    padding-inline: 0 !important;
    margin-left: 10px;
}

.kontent {
    padding-top: 0;
}

.link {
    font-size: 16px;
}

.link-active span{
    color: white;
}

.link-inactive span{
    color: black;
}

.panel-backdrop {
    background-color: transparent;
}

.panel:not(.panel-in):not(.panel-out):not(.panel-in-breakpoint):not(.panel-in-collapsed):not( .panel-in-swipe ) {
    display: none;
    position: fixed;
    width: 100px;
}

.panel-left.panel-cover, .panel-left.panel-floating, .panel-left.panel-push {
    transform: none;
}

.blockpage {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.warnablock {
    background-color: #BA1924;
    position: absolute;
    width: 64px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.isiblock {
    z-index: 100;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 25px;
    margin-left: 16px;

}

.row-isi .link i {
    margin-right: 18.9px;
    color: white;
}


.searchbar-backdrop {
    background : white !important;
}

.searchbar input[type=search], .searchbar input[type=text] {
    background-color: #E5E1E5;
}
.title-large-text{
    font-size: 35px !important;
    font-weight: 500 !important;
}
.containerr {
    position: relative;
    display: inline-block !important;
    overflow-x: auto !important;
    padding: 0;
    width: 100%;
    height: max-content;
    margin: 0;
}
.containerr::-webkit-scrollbar {
    display: none;
}
.containnn {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 0;
}
.containnns {
    margin-top: 0;
}

.containnns .link {
    padding: 10px;
}

.demodia{
    width: 350px;
    height: auto;
    border-radius: 20px;
}
.block-title {
    color: #BA1924;
}
.breadcrumbs-item {
    background-color: #F2EEF2;
    border-radius: 30px !important;
}
.link {
    padding: 5px;
}

.iconss {
    width: 40px;
}
.cardsd {
    background-color: #FCF0F4;
    padding-bottom: 10px;
    border-radius: 20px;
    border-width: 5px;
    border: solid;
    border-color: #ebdedf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 350px;
    gap: 6px;
    margin: 0;
}
.cardsd h4{
    font-weight: 400 !important;
    width: 90%;
}
.cardimg {
    width: 200px;
    height: auto;
}
.prices span {
    font-size: 18px;
    color: #BA1924;
    margin-right: 5px;
}
.containnn {
    padding-inline: 0;
}

.productts {
    padding-left: 0;
    padding-right: 0;
}

.prodc{
    gap: 10px;
    padding-inline: 0;
}

/* bottombar */
.toolbar.tabbar.toolbar-bottom{
    position: fixed;
    bottom: 0;
}

@media only screen and (min-width :  768px) {

    .toolbar{
        visibility: hidden;
    }
    .panel:not(.panel-in):not(.panel-out):not(.panel-in-breakpoint):not(.panel-in-collapsed):not( .panel-in-swipe ) {
        display: flex;
    }
    .mains{
        margin-left: 100px;
    }


}
